<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>We need access to the camera to scan Braille text.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>We need access to your photo library to import images of Braille text.</string>
</dict>
</plist>
